.footerUp{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    background-color: #300524;
    grid-template-columns: 525px repeat(auto-fit,minmax(120px, 1fr)); 
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #300524;
    justify-content: space-evenly;
}
.footer2{
    background-color: #300524;
    padding: 20px;
}
.footer3{
    background-color: #300524;
    padding: 20px;
}

.footerLogo{
    width: 100%;
    text-align: left;
    
}
.footerLogoImg{
    width: 60%;
}
.footerMap{
    width: 90%;
    height: 150px;
}
.footer1Details{
    display: grid;
    grid-template-columns: 1.1fr 5fr;
    row-gap: 20px;
    column-gap: 15px;
    
    font-size: 17px;
}
.f1DetailName{
    text-align: end;
    
}
.footerLinksHead{
    font-size: 25px;
    margin-bottom: 10px;
    padding-left: 20px;
    text-decoration: underline;
    
}
.footerLinksList{
    margin-top: 0px;
    font-size: 18px;
    
}
.footerLinksitems:not(:last-child) {
    margin-bottom: 8px;
}
.footerDown{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    background-color: #300524;
}

@media screen and (max-width: 768px) {
    .footerDown{
        padding-bottom: 60px;
    }
    .footerUp{
    
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 500px 475px 250px;
    }
    .footerLogo{
        width: 100%;
        text-align: center;
        
    }
    .footerMap{
        width: 100%;
    }
    .footer1Details{
        display: grid;
        grid-template-columns: 1.4fr 4fr;
        row-gap: 20px;
        column-gap: 15px;
        
        font-size: 17px;
    }
    .footer3{
        display: flex;
        padding-top: 0px;
    }
    .footer3about{
        width: 40%;
    }
    .footer3contact{
        width: 100%;
        
    }
    .footerLinksHead{

        margin-top: 10px;
        
    }
}

@media screen and (min-width: 768px) 
    and (max-width: 1024px) {

    .footerUp{
    
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 550px 475px 220px;
    }
    .footerLogo{
        width: 100%;
        text-align: center;
        
    }
    .footerMap{
        width: 80%;
    }
    .footer1Details{
        padding-right: 10%;
        display: grid;
        grid-template-columns: 1.4fr 4fr;
        row-gap: 20px;
        column-gap: 15px;
        
        font-size: 17px;
    }
    .footer3{
        display: flex;
        padding-top: 0px;
    }
    .footerLinksHead{

        margin-top: 10px;
        
    }
    .footer1{ 
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        background-color: #300524;
        justify-content: space-evenly;
    }
    .footerLogoImg{
        width: 40%;
    }
}