.nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 10px;
    z-index: 1004;
    width: 97%;
    margin-left: 1.5%;
    box-sizing: border-box;
    transition: background-color 100ms linear;
    border-radius: 100px;
    align-items: center;
}
.nav_logo{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
   
}
.nav_links{
    height: 100%;
    width: 100%;

    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.nav_link{
    text-decoration: none;
    color: #2c1626;
}
.nav_btns{
    height: 100%;
    width: 100%;

    
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.nav_btn{
    font-size: calc(var(--nav-font-size) - 2px);
    padding: 17px 15px;
    font-weight: var(--nav-font-weight);
    border: none;
    cursor: pointer;
    background-color: #532a48;
    color: white;
    transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
}
.nav_btn:hover{
    background-color: #bb71ae;
    color: white;
}
.nav_logo_img{
    height: 55%;
}
.nav_burger{
    display: none;
}


@media screen and (max-width: 768px) {
    .nav{
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        height: 80px;
    }
    .nav_logo{
        height: 90%;
        width: 90%;
    
        display: flex;
        align-items: center;
       
    }
    .nav_links{
        position: fixed;
        top: 0;
        left: 150vw;
        display: flex;
        height: 100%;
        background-color: rgb(255, 255, 255);
        width: 100%;
        flex-direction: column;
        font-size: var(--nav-font-size);
        font-weight: var(--nav-font-weight);
        padding-left: 10vw;
        align-items: start;
        justify-content: space-evenly;

        transition: left 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
    }
    .nav_btns{

        display: none;
 
    }
    
    .nav_links_show{
       
        left: 0vw;
        
    }
    .nav_link_top{
        margin-top: 20vh;
    }
    .nav_link_bottom{
        margin-bottom: 20vh;
    }
    .nav_burger{

        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        border: 5px solid black;
        border-radius: 5px;
        background-color: #f95f5f00;
        color: rgb(0, 0, 0);
        align-items:center;
        position: absolute;
        font-size: 35px;
        
        border: none;
        padding: 0;
        top: 17.5px;
        right: 20px;
        height: 45px;
        width: 45px;
    }
    .burgerb{
        height: 3px;
        width: 1.7rem;
        background-color: black;
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }
    .burger1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger2 {
        opacity: 0;
    }

    .burger3 {
        transform: rotate(-45deg) translate(7px, -6px);
    }

}

@media screen and (min-width: 768px) 
    and (max-width: 1024px) {
    .nav{
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        height: 80px;
    }
    .nav_logo{
        height: 90%;
        width: 90%;
    
        display: flex;
        align-items: center;
       
    }
    .nav_links{
        position: fixed;
        top: 0;
        left: 150vw;
        display: flex;
        height: 100%;
        background-color: rgb(255, 255, 255);
        width: 100%;
        flex-direction: column;
        font-size: var(--nav-font-size);
        font-weight: var(--nav-font-weight);
        padding-left: 10vw;
        align-items: start;
        justify-content: space-evenly;

        transition: left 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
    }
    .nav_btns{

        display: none;
 
    }
    
    .nav_links_show{
       
        left: 0vw;
        
    }
    .nav_link_top{
        margin-top: 20vh;
    }
    .nav_link_bottom{
        margin-bottom: 20vh;
    }
    .nav_burger{

        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        border: 5px solid black;
        border-radius: 5px;
        background-color: #f95f5f00;
        color: rgb(0, 0, 0);
        align-items:center;
        position: absolute;
        font-size: 35px;
        
        border: none;
        padding: 0;
        top: 17.5px;
        right: 20px;
        height: 45px;
        width: 45px;
    }
    .burgerb{
        height: 3px;
        width: 1.7rem;
        background-color: black;
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }
    .burger1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger2 {
        opacity: 0;
    }

    .burger3 {
        transform: rotate(-45deg) translate(7px, -6px);
    }

}